*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
}

.clock{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: azure;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: rotate(-120deg);
}
.hour,.min,.sec{ 
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    transform-origin: left;

}
.hour{
    background-color: red;
    width: 55px;
}
.min{
    transform: rotate(20deg);
    background-color: rgb(3, 93, 48);
    width: 65px;
}
.sec{
    transform: rotate(40deg);
    background-color: rgb(0, 0, 0);
    width: 75px;
}